# default .gitignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto

# specific to this repo

src/data/raw/*
!src/data/raw/.gitkeep
src/data/processed/*
!src/data/processed/.gitkeep
src/dump
src/analysis/01_pitch/imgs/gif/*
